<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<body>
<table borde=0 width=1000>
<tr>
   <th>A-6</th>
   <th>M-50/M-503</th>
</tr>
<tr>
   <td>km 13,2. A la altura de la Sexta AvenidaSacedilla mirando la norte</td>
   <td>km 3.9. Enlace M-11 Barajas</td>
</tr>
<tr>
   <td><img src="http://dgt.es/camaras/camara-2700001-43.jpg"></td>
   <td><img src="http://dgt.es/camaras/camara-2700001-140.jpg"></td>
</tr>
   <td>km 16,3. A la altura de la Sacedilla mirando la norte</td>
   <td>km 55.9. Acceso M-607</td>
<tr>
   <td><img src="http://www.dgt.es/camaras/camara-2700001-365.jpg"></td>
   <td><img src="http://dgt.es/camaras/camara-2700001-116.jpg"></td>
</tr>
<tr>
   <td>km 17,0. Entrada a las Rozas - Majadahonda</td>
   <td>km 51.0. Tuneles del Pardo</td>
</tr>
<tr>
   <td><img src="http://dgt.es/camaras/camara-2700001-37.jpg"></td>
   <td><img src="http://dgt.es/camaras/camara-2700001-126.jpg"></td>
</tr>
<tr>
   <td>km 17,8. Entrada a las Rozas - Puente Renfe</td>
   <td>km 56.5 Enlace con A-6</td>
</tr>
<tr>
   <td><img src="http://dgt.es/camaras/camara-2700001-33.jpg"></td>
   <td><img src="http://dgt.es/camaras/camara-2700001-331.jpg"></td>
</tr>
</table>

</body>
