<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<body>
<table borde=0 width=1000>
<tr>
   <th>A-6</th>
   <th>M-50/M-503</th>
   <th>M-501</th>
</tr>
<tr>
   <td>km 16,3. A la altura de la Sacedilla mirando la norte</td>
   <td>km 79.8. Sentido sur. Al final se ve la última curva antes del enlace con la M-503</td>
   <td>km 0.5. Rotonda M-40</td>
</tr>
<tr>
   <td><img src="http://dgt.es/camaras/camara-2700001-365.jpg"></td>
   <td><img src="http://dgt.es/camaras/camara-2700001-108.jpg"></td>
   <td><img src="http://dgt.es/camaras/camara-2700001-256.jpg"></td>
</tr>
   <td>km 17,0. Entrada a las Rozas - Majadahonda</td>
   <td>km 10.25. A la altura de la Repsol-Opencor</td>
   <td>km 3.0. </td>
<tr>
   <td><img src="http://dgt.es/camaras/camara-2700001-37.jpg"></td>
   <td><img src="http://dgt.es/camaras/camara-2700001-112.jpg"></td>
   <td><img src="http://dgt.es/camaras/camara-2700001-257.jpg"></td>
</tr>
<tr>
   <td>km 17,8. Entrada a las Rozas - Puente Renfe</td>
   <td>km 9.8. Al final, enlace con la M-40.</td>
</tr>
<tr>
   <td><img src="http://dgt.es/camaras/camara-2700001-33.jpg"></td>
   <td><img src="http://dgt.es/camaras/camara-2700001-323.jpg"></td>
</tr>
<tr>
   <td></td>
   <td>km 6.5. Rotonda del vivero</td>
</tr>
<tr>
   <td></td>
   <td><img src="http://dgt.es/camaras/camara-2700001-330.jpg"></td>
</tr>
</table>

</body>
