<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head><body>
<table borde="0" width="1000">
<tbody><tr>
   <th>A-6</th>
   <th>M-50/M-503</th>
   <th>A-4</th>
</tr>
<tr>
   <td>km 16,3. A la altura de la Sacedilla mirando la norte</td>
   <td>km 79.8. Sentido sur. Al final se ve la última curva antes del enlace con la M-503</td>
   <td>km 13.7 Enlace M-406 a Getafe.</td>
</tr>
<tr>
   <td><img src="http://www.dgt.es/camaras/camara-2700001-365.jpg"></td>
   <td><img src="http://www.dgt.es/camaras/camara-2700001-108.jpg"></td>
   <td><img src="http://www.dgt.es/camaras/camara-2700001-171.jpg"></td>
</tr>
   <tr><td>km 17,0. Entrada a las Rozas - Majadahonda</td>
   <td>km 45.7. Enlace con A-4</td>
   <td>km 16.95. Enlace con M-50</td>
</tr><tr>
   <td><img src="http://www.dgt.es/camaras/camara-2700001-37.jpg"></td>
   <td><img src="http://www.dgt.es/camaras/camara-2700001-450.jpg"></td>
   <td><img src="http://www.dgt.es/camaras/camara-2700001-184.jpg"></td>
</tr>
<tr>
   <td>km 17,8. Entrada a las Rozas - Puente Renfe</td>
   <td>km 48.5 </td>
</tr>
<tr>
   <td><img src="http://www.dgt.es/camaras/camara-2700001-33.jpg"></td>
   <td><img src="http://www.dgt.es/camaras/camara-2700001-451.jpg"></td>
</tr>
<tr>
   <td></td>
   <td>km 53.9</td>
</tr>
<tr>
   <td></td>
   <td><img src="http://www.dgt.es/camaras/camara-2700001-452.jpg"></td>
</tr>
<tr>
   <td></td>
   <td>km 55.5</td>
</tr>
<tr>
   <td></td>
   <td><img src="http://www.dgt.es/camaras/camara-2700001-453.jpg"></td>
</tr>
</tbody></table>
</body></html>